#room-management-title {
  text-align: center;
  padding: 23px;
  
}

#room-management-title span {
  font-size: large;
  font-weight: 700;
}

.management-title {
  font-weight: 600;
}

.waiting-room-allow-btn, .waiting-room-not-allow-btn, .kick-user-btn {
  padding: 2px;
  margin-left: 5px;
}

#waiting-room {
  background-color: rgb(240, 240, 240);
}

#waiting-room-users {
  font-weight: 500;
  color: #555;
  max-height: 92px;
  overflow-y: auto;
}

#waiting-room-users::-webkit-scrollbar {
  width: 5px;
}

#waiting-room-users::-webkit-scrollbar-track {
  background-color: #1e1e24;
}

#waiting-room-users::-webkit-scrollbar-thumb {
  background-color: #6649b8;
}

.waiting-room-user-name {
  font-size: smaller;
}