input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  -o-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: black!important;
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}