#main {
  height: calc(100vh - 60px);
}

#main-messenger {
  height: inherit;
}

#main-left {
  height: 100%;
  width: 400px;
  border-right: 1px solid #0000001a;
}

#main-left-friends {
  border-top: 1px solid #0000001a;
  height: 100%;
  overflow-y: auto;
}

.friend-item {
  padding: 5px;
}

.friend-item-active {
  border-radius: 5px;
  background-color: #f0f2f5;
}

@media only screen and (max-width: 850px) {
  .friend-item-info {
    display: none;
  }

  #main-left {
    width: fit-content;
  }

  #main-left-top, #main-left-search {
    display: none !important;
  }

  #main-left-friends {
    border: none;
  }

  .friend-item-main {
    justify-content: center;
  }
}

#main-right-top {
  border-bottom: 1px solid #0000001a;
}

#main-right-top-right > button {
  background-color: transparent;
  border: none;
}

.friend-item-info > small {
  color: #6c757d;
}

#main-left-friends > a {
  color: black;
}

#main-left-friends > a:hover {
  text-decoration: none;
}