body {
  height: 100vh;
}

/* input:not([type="radio"] and [type="checkbox"]):focus,
button:focus {
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
} */

#header {
  box-shadow: 1px 1px 5px #555;
  height: 60px;
}

#user {
  padding: 5px;
  border-radius: 5px;
}

#user > a {
  color: #333333;
  font-weight: 700;
  display: block;
}

#user > a:hover {
  text-decoration: none;
}

#user:hover {
  background-color: #f0f2f5;
}

#info-drop, #notify-drop {
  position: absolute;
  top: 55px;
  right: 10px;
  width: 368px;
  height: auto;
  max-height: 563px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #555;
  background-color: white;
}


#info-drop a {
  font-size: large;
  font-weight: 600;
  color: #6c757d;
  border-radius: 5px;
  display: block;
}

#info-drop a:hover {
  text-decoration: none;
  background-color: #f2f2f2;
}

#info-drop a i {
  padding: 8px;
  background-color: #e4e6eb;
  border-radius: 50%;
}

@media only screen and (max-width: 850px) {
  #user {
    display: none;
  }
}