extend ../layout

append styles
  link(rel="stylesheet", href="/css/home-messenger.css")

block main
  //- #member-id.d-none= me.id
  //- #friend-id.d-none= friend._id.id
  .main-chat-audio.d-flex
    .d-flex.flex-column.flex-fill.wrap-chat-audio-box
      .d-flex.flex-column.flex-fill.justify-content-center
        .text-center.wrap-avatar-call
          img.rounded-circle.img-thumbnail(src="https://res.cloudinary.com/haitrando/image/upload/v1597403252/ohchat/avatar/default-avatar.jpg", alt="name")
          video.d-none(autoplay=true)
        .text-center
          h4 Đang gọi....
      .wrap-ctrl-call.d-flex.justify-content-center
        button.btn.btn-icon
          span.icomoon.icon-mic_off
        button.btn.btn-icon.btn-red.ml-3
          span.icomoon.icon-telephone

append scripts
  script(src="/js/msg-chat-audio.js")
