extend ../layout

append styles
  link(rel="stylesheet", href="/styles/messenger/layout.css")

block header
  #header.p-2.d-flex.justify-content-between
    #header-left.d-flex.align-items-center
      #logo
        img(src="/images/logo_rounded.png", alt="oh-chat", width="40px")
      #search.ml-1
        input.form-control(type="text", placeholder="Tìm kiếm bạn bè")
    #header-right.d-flex.align-items-center
      #user
        a(href="#")
          img.rounded-circle.mr-1(src=memberAvatar, alt="member", width="30px")
          span= memberName
      #notification.mx-2
        button#member-notify-btn.btn.btn-light(type="button", data-toggle="collapse", data-target="#notify-drop", aria-controls="notify-drop")
          i.fas.fa-bell
      #info
        button#member-info-btn.btn.btn-light(type="button", data-toggle="collapse", data-target="#info-drop", aria-controls="info-drop")
          i.fas.fa-caret-down
      #notify-drop.collapse(data-parent="#header-right")

      #info-drop.collapse(data-parent="#header-right")
        .p-3
          a.p-2.d-flex(href="#")
            div
              img.rounded-circle(src=memberAvatar, alt="oh-chat", width="55px")
            .ml-3
              span= memberName
              br
              small Xem thông tin của bạn
          hr
          .w-100
            a.p-2(href="#")
              i.fas.fa-cog
              span.ml-2 Cài đặt
          .w-100
            a.p-2(href="/login/logout")
              i.fas.fa-sign-out-alt
              span.ml-2 Đăng xuất

    

block main
  #main
    block contentMain

append scripts
  script(src="/scripts/member/layout.js")