extend ./layout

append styles
  style
    | .loadding-page, .wrap-loader { display: none }
    | h1, h2 { text-align: center }

block main
  h1 Trình duyệt đang dùng không hỗ trợ các chức năng của ứng dụng
  h2 Xin hãy sử dụng một trình duyệt khác
