.main-chat-audio {
  width: 100vw;
  height: 100vh;
}
.wrap-avatar-call {
  margin-bottom: 20px;
  img {
    max-width: 150px;
  }
}
.wrap-ctrl-call {
  margin-bottom: 30px;
  .btn {
    &:hover {
      & + .popup-text {
        display: block;
      }
    }
  }
}

.mic-ctrl-btn{
  &.ctrl-off {
    .icomoon::before {
      content: "\e924";
    }
  }
}
.video-ctrl-btn{
  &.ctrl-off {
    .icomoon::before {
      content: "\e919";
    }
  }
}
.share-ctrl-btn{
  &.ctrl-off {
    .icomoon::before {
      content: "\e915";
    }
  }
}
.wrap-my-video {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 150px;
  height: 100px;
  background-color: $color-0c;
  border-radius: 13px;
  border: 1px solid $blue;
  z-index: 3;
  img {
    max-width: 60px;
    border-radius: 20%;
  }
  video {
    width: 100%;
  }
}
.wrap-friend-video {
  position: absolute;
  right: 5px;
  top: 5px;
  left: 5px;
  bottom: 10px;
  background-color: $color-0c;
  border-radius: 13px;
  z-index: 2;
  img {
    max-width: 150px;
    border-radius: 20%;
  }
  video {
    width: 100%;
  }
}
.popup-text {
  position: absolute;
  top: -39px;
  background-color: #000000;
  padding: 7px;
  line-height: 1;
  border-radius: 6px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: white;
  display: none;
  z-index: 9999999;
  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: inherit;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: 99;
  }
}