.main-chat-audio {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.wrap-avatar-call {
  margin-bottom: 20px;
  img {
    max-width: 150px;
  }
}
.wrap-ctrl-call {
  margin-bottom: 30px;
}

.mic-ctrl-btn{
  &.ctrl-off {
    .icomoon::before {
      content: "\e923";
    }
  }
}
.video-ctrl-btn{
  &.ctrl-off {
    .icomoon::before {
      content: "\e918";
    }
  }
}
.share-ctrl-btn{
  &.ctrl-off {
    .icomoon::before {
      content: "\e915";
    }
  }
}