// #main {
//   height: calc(100vh - 60px);
// }

#main-messenger {
  height: calc(100vh - 60px);
  overflow: hidden;
  .wrap-emojis {
    right: unset;
    left: 0;
  }
}

#main-left {
  height: 100%;
  width: 400px;
  border-right: 1px solid;
}

#main-left-friends {
  border-top: 1px solid;
  height: 100%;
  overflow-y: auto;
  > a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}

.friend-item {
  padding: 5px;
  border-radius: 5px;
  &:hover,
  &.is-active {
    background-color: #f0f2f5;
  }
  &.is-online {
    .dot-status {
      background-color: $color-14;
    }
  }
  &:hover,
  &.is-show {
    .fri-mana-btn {
      display: flex;
    }
  }
}

#main-right {
  width: 0;
}

#main-right-top {
  border-bottom: 1px solid;
}

#main-right-top-right > button {
  background-color: transparent;
  border: none;
}

#main-right-chat-content {
  overflow-y: auto;
}

.friend-item-info > small {
  color: #6c757d;
}
.open-emojis {
  padding-left: 5px;
  padding-right: 5px;
}
.message {
  width: 100%;
  height: max-content;
  padding: 2px;
  a {
    color: $color-10;
    text-decoration: underline;
    &:hover {
      color: $color-10;
      text-decoration: none;
    }
  }
  &.deleted {
    .msg-me,
    .msg {
      background-color: $color-74;
    }
    .message-content {
      color: $white;
      font-style: italic;
    }
  }
  &.is-load {
    pointer-events: none;
    opacity: .6;
    .msg-mana-loader {
      display: block;
    }
  }
  .msg-me {
    a {
      color: white;
      &:hover {
        color: $white;
      }
    }
  }
  &.call-msg {
    .message-content::before {
      font-family: $icomoon;
      margin-right: 10px;
    }
    .msg, 
    .msg-me {
      display: block;
    }
  }
  &.call-outgoing {
    .message-content::before {
      content: "\e92b";
      color: $color-14;
    }
  }
  &.call-incoming {
    .message-content::before {
      content: "\e92a";
      color: $color-2f;
    }
  }
  &.call-missed {
    .message-content::before {
      content: "\e929";
      color: $color-c8;
    }
  }
  &.call-video {
    .message-content::before {
      content: "\e919";
    }
  }
  &.call-missed-video {
    .message-content::before {
      content: "\e918";
    }
  }
  .time-call {
    display: block;
    color: $color-de;
    text-align: right;
  }
  &.msg-start {
    img {
      max-width: 65px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
    h4 {
      margin-bottom: 0;
      font-weight: 600;
    }
    div {
      color: $color-7f;
      font-size: 15px;
    }
  }
  &:hover,
  &.is-more {
    .more-msg {
      display: block;
    }
  }
}

.msg {
  width: max-content;
  max-width: 100%;
  background-color: $color-de;
  padding: 4px 8px;
  border-radius: 5px;
  line-height: 23px;
  display: flex;
  align-items: center;
}

.msg-me {
  width: max-content;
  max-width: 100%;
  background-color: $color-22;
  padding: 4px 8px;
  border-radius: 5px;
  margin-left: auto;
  text-align: left;
  line-height: 23px;
  display: flex;
  align-items: center;
  .message-content {
    color: $white;
  }
}
.more-msg {
  display: none;
  position: absolute;
  right: calc(100% + 8px);
  top: 50%;
  transform: translateY(-50%);
}
.wrap-msg-mana {
  position: absolute;
  right: calc(100% + 40px);
  top: 50%;
  transform: translateY(-50%);
  background-color: $white;
  padding: 5px;
  z-index: 2;
  border-radius: 5px;
  top: 50%;
  box-shadow: 0 0 5px $color-0c;
  width: 200px;
}
.msg-mana-item {
  align-items: center;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 5px;
  cursor: pointer;
  color: $color-0c;
  .icomoon:not(.icon-checkmark) {
    margin-right: 10px;
  }
  &:hover {
    background: #f2f2f2;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.confirm-del-msg {
  width: 25px;
  height: 25px;
  padding: 5px;
  margin-left: auto;
  .icomoon {
    font-size: 13px;
  }
}
.msg-mana-loader {
  display: none;
  position: absolute;
  max-width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.send-file,
.send-take-photo,
.send-rec {
  &:hover {
    color: $black;
  }
}
.message-avatar {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.message-time {
  color: #a7a7a7;
  margin: 0 10px;
  font-size: x-small;
}

.message-content {
  margin-left: 10px;
  color: $color-10;
  line-break: anywhere;
}
#main-left-top {
  h4 {
    font-weight: 800;
  }
}
#msg,
textarea.form-control.msg-mini {
  border: none;
  padding: 5px;
  font-size: 15px;
  resize: none;
  overflow: auto;
  max-height: 100px;
  height: 35px;
  min-height: 35px;
  background-color: rgba(138, 138, 138, 0.08);
}
.wrap-msg-box {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 2px;
    background-color: $color-22;
    transition: all .35s;
  }
  &.is-focus::after {
    right: 0;
  }
}
.scroll-bottom {
  position: absolute;
  bottom: 65px;
  left: 50%;
  display: none;
  font-size: 27px;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all .2s;
  z-index: 9;
  line-height: 27px;
  color: $color-14;
  .icomoon {
    transition: all .25s;
    display: inline-block;
  }
  &:hover {
    .icomoon {
      font-size: 30px;
    }
  }
  &.is-show {
    display: block;
  }
  &.is-has-new-msg {
    .has-new-msg {
      display: block;
    }
    .icomoon {
      animation: bounce2 5s infinite;
    }
  }
  .has-new-msg {
    display: none;
    line-height: 1;
    font-size: 15px;
  }
}
.wrap-msg-box {
  overflow: hidden;
}
.dot-status {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: $color-74;
  border-radius: 50%;
  right: 4px;
  top: 36px;
}
.wrap-loader-chat {
  position: absolute;
  left: 50%;
  top: -7px;
  transform: translateX(-50%);
  img {
    max-width: 45px;
  }
}
.last-msg {
  display: flex;
  small {
    &:first-child {
      overflow: hidden;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      max-height: 23px;
      max-width: 239px;
      word-break: break-all;
    }
    &:last-child {
      margin-left: 1rem;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 3px;
        height: 3px;
        background: $blue;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;
        border-radius: 50%;
      }
    }
  }
  &.un-read {
    small {
      font-weight: 800;
    }
  }
}
.popup-has-call,
.overlay-calling {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color-ol;
  z-index: 9999;
}

.wrap-pop-has-call {
  background-color: $white;
  padding: 20px 30px;
  color: $black;
  border-radius: 15px;
  box-shadow: 2px 2px 12px $color-22;
  position: relative;
  max-width: calc(100vw - 20px);
  .close-popup {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    display: none;
  }
  .title-call-miss,
  .text-miss-call-sub,
  #btn-call-back {
    display: none;
  }
  &.miss-call {
    .close-popup {
      display: flex;
    }
    #btn-call-back {
      display: inline-block;
    }
    .title-call-miss,
    .text-miss-call-sub {
      display: block;
    }
    .title-call-info,
    .text-call-sub,
    #btn-call-not-ok,
    #btn-call-ok {
      display: none;
    }
  }
  .caller-img {
    max-width: 100px;
    margin-right: 20px;
  }
}
.search-fri-res-box {
  position: absolute;
  background: $white;
  z-index: 2;
  right: 0;
  left: 0;
  top: 42px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #555;
  max-height: 372px;
  overflow: auto;
}
.s-fri-item {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  img {
    max-width: 50px;
    margin-right: 10px;
  }
  &:hover {
    background-color: $color-de;
  }
}
#main-left-search {
  &.show-loader {
    .search-fri-res-box {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $color-ol;
      }
    }
  }
}
.loader-search,
.loader-search-box {
  img {
    max-width: 40px;
  }
}
.fri-mana-btn {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
  display: none;
}
.fri-mana-box {
  position: absolute;
  width: 70%;
  background-color: $white;
  padding: 10px;
  z-index: 2;
  border-radius: 5px;
  right: 63px;
  top: 50%;
  box-shadow: 0 0 5px $color-0c;
  transform: translateY(-50%)
}
.fri-mana-item {
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: $color-0c;
  .icomoon:not(.icon-checkmark) {
    margin-right: 10px;
  }
  &:hover {
    background: #f2f2f2;
    text-decoration: none;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 850px) {
  .friend-item-info {
    display: none;
  }

  #main-left {
    width: fit-content;
  }

  #main-left-top,
  #main-left-search {
    display: none !important;
  }

  #main-left-friends {
    border: none;
  }

  .friend-item-main {
    justify-content: center;
  }
}

@media only screen and (max-width: 450px) {
  #main-messenger {
    .wrap-emojis {
      width: 220px;
      height: 201px;
      overflow: auto;
    }
  }
}