body {
  height: 100vh;
}
#header {
  box-shadow: 1px 1px 5px;
  height: 60px;
  background-color: $color-0c;
}
#user {
  padding: 5px;
  border-radius: 5px;
  > a {
    color: $white;
    font-weight: 700;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
    background-color: $gray-900;
  }
}
#info-drop,
#notify-drop {
  position: absolute;
  top: 55px;
  right: 10px;
  width: 368px;
  height: auto;
  max-height: 563px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #555;
  background-color: white;
}
#info-drop {
  a {
    font-size: large;
    font-weight: 600;
    color: #6c757d;
    border-radius: 5px;
    display: block;
    &:hover {
      text-decoration: none;
      background-color: #f2f2f2;
    }
    i {
      padding: 8px;
      background-color: #e4e6eb;
      border-radius: 50%;
    }
  }
}
.popup-chat-mini {
  position: fixed;
  z-index: 99;
  overflow: hidden;
  &.not-active {
    bottom: 65px;
    right: 10px;
    background: $white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    .chat-mini-top,
    .chat-mini-main,
    .chat-mini-bottom {
      display: none;
    }
  }
  &.is-active {
    background: $white;
    width: 341px;
    height: 435px;
    bottom: 0;
    right: 70px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 4px;
    .avatar-mini-2 {
      display: none;
    }
  }
  .btn-icon.small-btn {
    padding: 0;
    width: 27px;
    height: 27px;
    font-size: 17px;
  }
}
.wrap-chat-mini {
  display: none;
}
.avatar-mini {
  max-width: 45px;
}
.wrap-btn-chat-mini {
  .btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
}
.chat-mini-top {
  line-height: 22px;
  .mini-name {
    font-weight: 700;
  }
  .mini-status {
    font-size: 13px;
  }
}
.chat-mini-main {
  overflow: auto;
}
#main {
  &:not(.chat-page) {
    & ~ .wrap-chat-mini {
      display: block;
    }
  }
}
.chat-mini-top {
  box-shadow: 0px 0px 3px $black;
}
@media only screen and (max-width: 850px) {
  #user {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .popup-chat-mini {
    &.is-active {
      width: 299px;
      height: 420px;
    }
  } 
}