.wrap-info-member {
  border-radius: 10px;
}
#friend-area {
  padding: 10px 0 50px 0;
}
.wrap-loader-friend {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.fri-item-ctrl {
  min-width: 124px;
}
.wrap-takephoto,
.wrap-takephoto-send {
  position: relative;
  video {
    width: 100%;
  }
}
.wrap-num-cd {
  font-size: 144px;
  color: $white;
}
@for $i from 1 through 3 {
  .cd-num#{$i} {
    position: absolute;
    opacity: 0;
    animation: time 1s;
    animation-delay: (4 - $i)+s
  }
}
.confirm-del-text,
.del-text {
  width: 25px;
  height: 25px;
  padding: 5px;
  .icomoon {
    font-size: 13px;
  }
}
.wrap-del-text {
  &.loader-del-text {
    button {
      pointer-events: none;
      .icomoon {
        color: $color-74;
      }
    }
  }
}
.loader-text-del {
  position: absolute;
  top: -4px;
  left: 112px;
  max-width: 40px;
}
@keyframes time {
  0%,100% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 375px) {
  .wrap-num-cd {
    font-size: 100px;
  }
}