.search-page {
  padding: 30px 0 50px;
}
.loader-more {
  position: fixed;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}
.load-more-search {
  transition: opacity .25s;
  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}
.name-member {
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
}