extends ./common-chat-room

block chatStyle
  link(rel="stylesheet", href="/styles/user/chat-room.css")

block subArea
  #confirm-leave-room-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-body
          span Bạn có chắc muốn rời phòng?
          .text-right.mt-4
            button#disconnect-btn.btn.btn-danger(type='button') Rời phòng
            button.btn.btn-light.ml-3(type='button', data-dismiss='modal') Trở lại
              
block chatScript
  script(src="/scripts/user/chat-room.js")
  script(src="/scripts/user/chat-room-video.js")
