extends ./layout

append styles
  link(rel="stylesheet", href="/styles/user/chat-room.css")

block contentMain
  #chat-main.d-flex.flex-column
    #chat-main-top.p-3 Top
    #chat-main-middle.flex-fill
      .message
        img.message-avatar(src="/images/avatar-1586267910056-769250908.png", alt="a")
        small.message-time 1:10 AM
        small.message-name Anh Hải
        small.message-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate harum, asperiores saepe iure, ut quia maiores, aperiam possimus quas repellat deleniti. Consequatur voluptate quidem fuga possimus ad quo suscipit quae?
      .message
        img.message-avatar(src="/images/avatar-1586267910056-769250908.png", alt="a")
        small.message-time 1:10 AM
        small.message-name Anh Hải
        small.message-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      
    #chat-main-bottom.p-3
      form.d-flex
        input#mgs.form-control(type="text", name="message")
        button.btn.btn-default
          i.fas.fa-paper-plane
