extends ./common-chat-room

block chatStyle
  link(rel="stylesheet", href="/styles/user/chat-room-host.css")

block subMeetingControl
  .meeting-control-item.d-none.d-md-block(data-tooltip="tooltip", data-placement="top", title="Quản lý phòng")
    .control-show-pop(data-control="manager")
      i.fas.fa-user-shield
    
block subMeetingControl2
  .meeting-control-item.control-show-pop(data-tooltip="tooltip", data-placement="top", title="Quản lý phòng", data-control="manager")
    i.fas.fa-user-shield

block waitingRoomInfo
  #waiting-room(style="display: none")
    #waiting-room-info.p-2.flex-fill.d-flex.flex-column
      .mb-2.text-secondary
        i.fas.fa-user-clock
        div.d-inline-block
          span &nbsp; Phòng chờ
          span#amount-waiting.ml-1
      #waiting-room-users.flex-fill

block subControlArea
  #manager-area.control-area(data-control="manager")
    .control-area-main.d-flex.flex-column
      .control-area-top.p-1.d-flex.justify-content-between
        button.arrow-smaller.btn.btn-default(data-area="manager")
          i.fas.fa-arrow-right
        .align-self-center.control-title Tùy chỉnh
        div
      .control-area-middle.flex-fill
        .management-title Phòng
        .custom-control.custom-radio.my-1.ml-3
          input#management-open-room.custom-control-input(type="radio", name="management", value="open-room")
          label.custom-control-label(for="management-open-room") Mở phòng
        .custom-control.custom-radio.my-1.ml-3
          input#management-lock-room.custom-control-input(type="radio", name="management", value="lock-room")
          label.custom-control-label(for="management-lock-room") Khóa phòng
        .custom-control.custom-radio.my-1.ml-3
          input#management-waiting-room.custom-control-input(type="radio", name="management", value="waiting-room")
          label.custom-control-label(for="management-waiting-room") Đặt trạng thái phòng chờ
        .management-title Chat
        .custom-control.custom-checkbox.my-1.ml-3
          input#management-turnoff-chat.custom-control-input(type="checkbox", name="management", value="turnoff-chat")
          label.custom-control-label(for="management-turnoff-chat") Tắt chat

block subArea
  #confirm-leave-room-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='leaveRoom', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-body
          span Bạn có chắc muốn rời phòng?
          .text-right.mt-4
            button#disconnect-all-btn.btn.btn-danger(type='button') Rời phòng tất cả
            button#disconnect-btn.btn.btn-warning.ml-3(type='button') Rời phòng
            button.btn.btn-light.ml-3(type='button', data-dismiss='modal') Trở lại
  
  #confirm-join-room-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='joinRoom', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-body
          span Bạn có chắc muốn cho phép người này vào phòng?
          .text-right.mt-4
            button#allow-join-btn.btn.btn-danger.ml-3(type='button', data-dismiss='modal') OK
            button.btn.btn-light.ml-3(type='button', data-dismiss='modal') Trở lại

  #confirm-no-join-room-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='notJoinRoom', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-body
          span Bạn có chắc muốn xóa người này khỏi danh sách chờ?
          .text-right.mt-4
            button#no-allow-join-btn.btn.btn-danger(type='button', data-dismiss='modal') OK
            button.btn.btn-light.ml-3(type='button', data-dismiss='modal') Trở lại

  #confirm-kick-user-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='kickUser', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-body
          span Bạn có chắc muốn kick người này khỏi phòng?
          .text-right.mt-4
            button#confirm-kick-user-btn.btn.btn-danger(type='button', data-dismiss='modal') OK
            button.btn.btn-light.ml-3(type='button', data-dismiss='modal') Trở lại

block subFormChat
  button.btn.btn-default.open-emojis(type="button") &#128512;
  //- input#msg.form-control(type="text", name="message", placeholder="Nhập tin nhắn", autocomplete="off")
  textarea#msg.form-control(type="text", name="message", placeholder="Nhập tin nhắn", autocomplete="off")
  button.btn.btn-default.text-secondary
    i.fas.fa-paper-plane

block passwordRoom
  span.text-secondary Mật khẩu: 
  span#room-info-password-room
  
block chatScript
  script(src="/scripts/user/chat-room-host.js")
  script(src="/scripts/user/chat-room-host-video.js")
