extends ./layout

append styles
  link(rel="stylesheet", href="/styles/user/chat-room.css")

block contentMain
  #chat-main.d-flex.flex-column
    #chat-main-top.p-3.d-flex.justify-content-between
      button#hide-time-btn.btn.btn-light(data-status="on") Hide time
      a.btn.btn-info(role="button", href="/") Rời phòng
    #chat-main-middle.flex-fill
    #chat-main-bottom.p-3
      form.d-flex(name="sendMgsForm")
        input#mgs.form-control(type="text", name="message", placeholder="Say something", autocomplete="off")
        button.btn.btn-default
          i.fas.fa-paper-plane

append scripts
  script(src="/socket.io/socket.io.js")
  script(src="/scripts/user/chat-room.js")
