extends ./layout

append styles
  link(rel="stylesheet", href="/styles/user/chat-room.css")
  link(rel="stylesheet", href="/styles/user/chat-room-host.css")

block contentMain
  #message-area.mb-2.mx-auto
  .d-flex.justify-content-center
    #room-info.d-flex.flex-column
      #room-info-title
        img.mr-2(src="/images/logo.png", alt="OH", width="30px")
        span.text-secondary OH Chat
      #room-info-room.p-2
        div
          i.fas.fa-comments
          span &nbsp; Phòng
        #room-name.p-2
          span#room-info-name-room
          span#room-info-password-room.ml-2
      #room-info-participant.p-2.flex-fill.d-flex.flex-column
        .mb-2
          i.fas.fa-users
          div.d-inline-block
            span &nbsp; Thành viên
            span#amount-participants.ml-1
        #room-users.flex-fill
    #chat-main.d-flex.flex-column
      #chat-main-top.p-3.d-flex.justify-content-between
        button#hide-time-btn.btn.btn-light(data-status="on") Ẩn thời gian
        button.btn.btn-link.text-link(type="button", data-toggle="modal", data-target="#confirm-leave-room-modal") Rời phòng
      #chat-main-middle.flex-fill
      #chat-main-bottom.p-3
        form.d-flex(name="sendMgsForm")
          input#mgs.form-control(type="text", name="message", placeholder="Nhập tin nhắn", autocomplete="off")
          button.btn.btn-default
            i.fas.fa-paper-plane
    #room-management.d-flex.flex-column
      #room-management-title
        span.text-secondary Quản lý phòng
      #management-area.p-2
        .management-title Phòng
        .custom-control.custom-radio.my-1.ml-3
          input#management-open-room.custom-control-input(type="radio", name="management", value="open-room", checked=true)
          label.custom-control-label(for="management-open-room") Mở phòng
        .custom-control.custom-radio.my-1.ml-3
          input#management-lock-room.custom-control-input(type="radio", name="management", value="lock-room")
          label.custom-control-label(for="management-lock-room") Khóa phòng
        .custom-control.custom-radio.my-1.ml-3
          input#management-waiting-room.custom-control-input(type="radio", name="management", value="waiting-room")
          label.custom-control-label(for="management-waiting-room") Đặt trạng thái phòng chờ
        .management-title Chat
        .custom-control.custom-checkbox.my-1.ml-3
          input#management-turnoff-chat.custom-control-input(type="checkbox", name="management", value="turnoff-chat")
          label.custom-control-label(for="management-turnoff-chat") Tắt chat
        
  #confirm-leave-room-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-body
          span Bạn có chắc muốn rời phòng?
          .text-right.mt-4
            button#disconnect-all-btn.btn.btn-danger(type='button') Rời phòng tất cả
            button#disconnect-btn.btn.btn-warning.ml-3(type='button') Rời phòng
            button.btn.btn-light.ml-3(type='button', data-dismiss='modal') Trở lại
append scripts
  script(src="/socket.io/socket.io.js")
  script(src="/scripts/user/output-error.js")
  script(src="/scripts/user/chat-room.js")
  script(src="/scripts/user/chat-room-host.js")
