extends ./layout

append styles
  link(rel="stylesheet", href="/styles/user/common-chat-room.css")
  link(rel="stylesheet", href="/styles/emoji.css")
  block chatStyle

block contentMain
  #meeting-area
    #main-meeting-area.bg-secondary.p-1.d-flex
      #main-meeting.p-1.flex-fill
        #meeting-show.d-flex.flex-wrap.justify-content-center.align-items-center.align-content-center
      #meeting-control
        .d-flex.justify-content-around.h-100.mx-auto(style="max-width: 1000px")
          #btn-audio-connect.meeting-control-item(data-state="off", data-tooltip="tooltip", title="Bật audio (Alt + A)")
            .control-no-show-pop
              i.fas.fa-microphone-slash.text-danger
          #btn-video-connect.meeting-control-item(data-state="off", data-tooltip="tooltip", title="Bật camera (Alt + V)")
            .control-no-show-pop
              i.fas.fa-video-slash.text-danger
          block subMeetingControl
          .meeting-control-item.d-none.d-md-block(data-tooltip="tooltip", title="Thành viên", data-control="user")
              .control-show-pop(data-control="user")
                i.fas.fa-users
                sup#amount-participants
          .meeting-control-item.d-none.d-md-block(data-tooltip="tooltip", title="Chat")
            .control-show-pop(data-control="chat")
              i.fas.fa-comment-alt
          .meeting-control-item.d-none.d-md-block(data-tooltip="tooltip", title="Thông tin phòng")
            .control-show-pop.text-info(data-control="info")
              i.fas.fa-info
          .meeting-control-item.ps-rv.d-md-none.wrap-conts
            .open-popup-icon
              i.fas.fa-ellipsis-v
            .wrap-control-meet
              .d-flex.justify-content-center.align-items-center
                block subMeetingControl2
                .meeting-control-item(data-tooltip="tooltip", title="Thành viên")
                  .control-show-pop(data-control="user")
                    i.fas.fa-users
                    sup#amount-participants
                .meeting-control-item(data-tooltip="tooltip", title="Chat")
                  .control-show-pop(data-control="chat")
                    i.fas.fa-comment-alt
                .meeting-control-item(data-tooltip="tooltip", title="Thông tin phòng")
                  .control-show-pop.text-info(data-control="info")
                    i.fas.fa-info
          .meeting-control-item(data-toggle="modal", data-target="#confirm-leave-room-modal", data-tooltip="tooltip", data-placement="top", title="Rời phòng")
            .control-no-show-pop.text-danger
              i.fas.fa-sign-out-alt
      
      #show-control.show-control.no-show
        #chat-area.control-area(data-control="chat")
          .control-area-main.d-flex.flex-column
            .control-area-top.p-1.d-flex.justify-content-between
              button.arrow-smaller.btn.btn-default(data-area="chat")
                i.fas.fa-arrow-right
              .align-self-center.control-title Chat
              button#hide-time-btn.btn.btn-light(data-status="on")
                i.far.fa-clock
            #chat-middle.control-area-middle.flex-fill
            .control-area-bottom.p-1
              form.d-flex(name="sendMsgForm")
                block subFormChat
              
        #users-area.control-area(data-control="user")
          .control-area-main.d-flex.flex-column
            .control-area-top.p-1.d-flex.justify-content-between
              button.arrow-smaller.btn.btn-default(data-area="users")
                i.fas.fa-arrow-right
              .align-self-center.control-title Thành viên
              div
            block waitingRoomInfo
            #room-users.control-area-middle.flex-fill

        #info-area.control-area(data-control="info")
          .control-area-main.d-flex.flex-column
            .control-area-top.p-1.d-flex.justify-content-between
              button.arrow-smaller.btn.btn-default(data-area="info")
                i.fas.fa-arrow-right
              .align-self-center.control-title Thông tin phòng
              div
            .control-area-middle.flex-fill
              div
                span.text-secondary Id phòng: 
                span#room-info-name-room
              block passwordRoom

        block subControlArea
  
  block subArea
  
append scripts
  script(src="/socket.io/socket.io.js")
  script(src="/scripts/simple-peer.min.js")
  script(src="/scripts/moment.min.js")
  script(src="/scripts/common-chat.js")
  script(src="/scripts/user/common-chat-room.js")
  script(src="/scripts/user/common-chat-room-video.js")
  script(src="/scripts/emoji.js")
  block chatScript
