extends ./layout

append styles
  link(rel="stylesheet", href="/styles/user/index.css")

block contentMain
    .content-area.d-flex.justify-content-center.align-items-center
      #main-area
        #chat-company.p-3
          img.mr-2(src="/images/logo.png", alt="OH", width="30px")
          span.text-secondary OH Chat
        #login-area.p-3
          if(loginError) 
            em.text-danger.mb-2= loginError
          form(action="/login", method="POST")
            .form-group.d-flex.justify-content-center
              label.text-secondary(for="email", style="width: 100px") Email
              input#email.form-control.form-control-sm(type="email", name="email", required, value=email?email:"")
            .form-group.d-flex.justify-content-center
              label.text-secondary(for="password", style="width: 100px") Mật khẩu
              input#password.form-control.form-control-sm(type="password", name="password", required)
            .form-group.d-flex.justify-content-between
              .d-flex.flex-column
                a.btn.btn-sm.btn-info(href="/login/facebook", role="button")
                  i.fab.fa-facebook
                  span.ml-1 Đăng nhập với Facebook
                a.btn.btn-sm.btn-danger.mt-1(href="/login/google", role="button")
                  i.fab.fa-google
                  span.ml-1 Đăng nhập với Google
              .d-flex.flex-column
                button.btn.btn-primary.btn-sm(type="submit") Đăng nhập
                a.btn.btn-sm.btn-link.mr-2(href="/login/register", role="button") Đăng ký
        #choose-area.d-flex
          .choose-item.mr-4.text-center
            a(href="/create", role="button")
              #create-room
                i.fas.fa-plus-square.fa-2x
            span.text-secondary Tạo phòng
          .choose-item.text-center
            a(href="/join", role="button")
              #join-room
                i.fas.fa-sign-in-alt.fa-2x
            span.text-secondary Tham gia
