extends ./layout

append styles
  link(rel="stylesheet", href="/styles/user/x-room.css")

block contentMain
  .content-area.d-flex.justify-content-center.align-items-center
    #form-x.mx-auto
      #chat-company
        img.mr-2(src="/images/logo.png", alt="OH", width="30px")
        span.text-secondary OH Chat
      form.mt-2(name="joinRoomForm", action="/chat")
        label(for="name")
          span Tên hiển thị
          span.text-danger &nbsp;*
        input#name.form-control(type="text", name="name", required=true, placeholder="Ít nhất 1 ký tự, nhiều nhất 30 kí tự")
        div
          em#err-join-name.text-danger
        label.mt-2(for="room")
          span Phòng
          span.text-danger &nbsp;*
        input#room.form-control(type="text", name="roomId", required=true, placeholder="Nhập id phòng")
        label.mt-2(for="passRoom")
          span Mật khẩu phòng
          span.text-danger &nbsp;*
        input#passRoom.form-control(type="password", name="passRoom", required=true, placeholder="Nhập mật khẩu phòng")
        .text-center.mt-2
          button.btn.btn-info.mr-4 Tham gia
          a.btn.btn-light(role="button", href="/") Quay lại

append scripts
  script(src="/socket.io/socket.io.js")
  script(src="/scripts/user/output-message.js")
  script(src="/scripts/user/join-room.js")