#main {
  padding-top: 10px;
}

#room-info {
  width: 300px;
  height: 550px;
  background-color: white;
  border: 1px solid #666;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #a19999;
  overflow: hidden;
}

#room-info-title {
  text-align: center;
  padding: 23px;
  
}

#room-info-title span {
  font-size: large;
  font-weight: 700;
}

#room-info-room, #room-info-participant{
  color: #7f7f7f;
  font-weight: 700;
}

#room-info-participant {
  overflow: hidden;
}

#room-name, #room-users {
  background-color: #f9f9f9;
  font-weight: 500;
  color: #555;
}

#room-users {
  overflow-y: auto;
}

.room-user-name {
  font-size: smaller;
}

#chat-main {
  width: 400px;
  height: 550px;
  background-color: white;
  border: 1px solid #666;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #a19999;
  overflow: hidden;
}

#chat-main-middle {
  background-color: #f9f9f9;
  padding: 10px;
  overflow-y: auto;
}

input:focus, button:focus {
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

#chat-main-bottom input {
  border-top: none;
  border-left: none;
  border-right: none;
}

#chat-main-bottom button {
  color: #cfcfcf !important;
}

.message {
  width: 100%;
  height: max-content;
  padding: 5px;
}

.message-avatar, .room-user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.message-time {
  color: #a7a7a7;
  margin: 0 10px;
}

.message-name {
  color: #7f7f7f;
  font-weight: 700;
}

.message-content {
  margin-left: 10px;
}

#message-area {
  max-width: 600px;
}

#chat-main-top > button:last-child {
  color: rgb(223, 8, 8);
  font-weight: 700;
  text-decoration: none;
}

#chat-main-top > button:last-child:hover {
  color: rgb(173, 3, 3);
}

.modal-body > span{
  font-size: large;
}