#main-area {
  margin: 0 auto;
  background-color: white;
  width: max-content;
  border: 1px solid #555;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #555;
}

#choose-area {
  padding: 100px;
}

#create-room, #join-room {
  padding: 25px;
  border-radius: 10px;
  color: white;
}

#create-room {
  background-color: rgb(255, 136, 0);
}

#join-room {
  background-color: rgb(5, 104, 170);
}

#create-room:hover {
  background-color: rgb(236, 129, 5);
  box-shadow: 1px 1px 5px #555;
}

#join-room:hover {
  background-color: rgb(4, 90, 148);
  box-shadow: 1px 1px 5px #555;
}

#chat-company {
  border-bottom: 1px dotted #555;
  text-align: center;
  font-size: larger;
  font-weight: 700;
}

.content-area {
  min-height: 100vh;
  width: 100%;
}