#main {
  background-color: #f5f5f5;
  position: relative;
}

input:not([type="radio"]):focus,
button:focus,
textarea {
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}
.ps-rv {
  position: relative;
}
.ps-as {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.text-nowrap {
  white-space: nowrap;
}
.over-hidden {
  overflow: hidden;
}