#form-x {
  max-width: 350px;
  padding: 10px;
  background-color: rgba(199, 187, 187, 0.333);
  border: 1px solid #555;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #555;
}

#main {
  padding-top: 100px;
}

#chat-company {
  text-align: center;
  padding: 10px;
  font-size: large;
  font-weight: 700;
  border-bottom: 1px dotted #555;
}

#message-area {
  max-width: 600px;
}

#waiting-modal-main button {
  color: rgb(223, 8, 8);
  font-weight: 700;
  text-decoration: none;
}

#waiting-modal-main button:hover {
  color: rgb(173, 3, 3);
}

.waiting-room-id {
  color: #555;
  font-weight: 700;
  font-size: larger;
}