extends ../room/layout

block contentMain
  .content-area.d-flex.justify-content-center.align-items-center
    #main-area
      #chat-company.p-3
        img.mr-2(src="/images/logo-mini.png", alt="OH")
        span.text-secondary OH Chat
      #login-area.py-3.px-2
        h1.text-center QUÊN MẬT KHẨU
        form(action="/login/forget-password-s2", method="POST", name="formForgetS2")
          .form-group
            input(type="hidden", name="email", value=email)
            input(type="hidden", name="token", value=token)
            .form-group
              label(for="password") Mật khẩu mới
              input#password.form-control.form-control-sm(type="password", name="password", required, placeholder="Nhập mật khẩu mới", title="Mật khẩu dài ít nhất 6 ký tự")
            .form-group
              label(for="password2") Xác nhận mật khẩu
              input#password2.form-control.form-control-sm(type="password", name="password2", required, placeholder="Nhập lại mật khẩu")
            .mt-3.d-flex.align-items-center.justify-content-end
              a.btn.btn-link.mr-1(href="/", role="button") Đăng nhập
              button.btn(type="submit") Đổi mật khẩu

append scripts
  script(src="/js/home.js")
