extends ../room/layout

block contentMain
  .content-area.d-flex.justify-content-center.align-items-center
    #main-area
      #chat-company.p-3
        img.mr-2(src="/images/logo-mini.png", alt="OH")
        span.text-secondary OH Chat
      #login-area.py-3.px-2
        h1.text-center QUÊN MẬT KHẨU
        form(action="/login/forget-password", method="POST", name="formForget")
          .form-group
            label.d-block(for="email") Email đăng ký
            input#email.form-control.form-control-sm(type="email", name="email", required, placeholder="Nhập email", value=email?email:"")
            .mt-3.d-flex.align-items-center.justify-content-end
              a.btn.btn-link.mr-1(href="/", role="button") Đăng nhập
              button.btn(type="submit") Xác nhận

append scripts
  script(src="/js/home.js")
