extend ../layout

append styles
  link(rel="stylesheet", href="/css/text.css")

block main
  #main
    .text-id.d-none= textId
    #editor

append scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/text.js")
