extend ../layout

append styles
  link(rel="stylesheet", href="/css/text.css")

block main
  #main
    .text-id.d-none= text._id
    .wrap-text-name.d-flex.align-items-center
      img.max-w-40.mr-3(src="/images/logo-mini.png", alt="oh-chat")
      label.mb-0(for="text-name")
        strong Text
      input#text-name.form-control.form-control-sm(type="text", name="textName", value=text.name)
      img.text-name-loader.max-w-30(src="/images/loader.svg", alt="loader")
    #editor

append scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/text.js")
