extend ../layout

append styles
  link(rel="stylesheet", href="/css/text.css")

block main
  #main
    .text-id.d-none= text._id
    .wrap-text-name.d-flex.align-items-center
      label.mb-0(for="text-name") Tên Text
      input#text-name.form-control.form-control-sm(type="text", name="textName", value=text.name)
      button.btn.btn-icon.small-btn.submit-text-name.btn-green
        span.icomoon.icon-checkmark
      img.text-name-loader(src="/images/loader.svg", alt="loader")
    #editor

append scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/text.js")
