extends ./common-chat-room

block subControlArea
  #users-area.control-area(data-control="user")
    .control-area-main.d-flex.flex-column
      .control-area-top.p-1.d-flex.justify-content-between
        button.arrow-smaller.btn.btn-default(data-area="users")
          span.icomoon.icon-arrow-right
        .align-self-center.control-title Thành viên
        div
      #room-users.control-area-middle.flex-fill

block subArea
  #confirm-leave-room-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-body
          span Bạn có chắc muốn rời phòng?
          .text-right.mt-4
            button#disconnect-btn.btn.btn-red(type='button') Rời phòng
        button.btn.btn-icon.close-popup(type='button', data-dismiss='modal')
          span.icomoon.icon-close
              
block chatScript
  script(src="/js/chat-room.js")
