extends ./common-chat-room

block subMeetingControl
  .meeting-control-item.d-none.d-md-block.ps-rv
    .popup Quản lý phòng
    .control-show-pop(data-control="manager")
      span.icomoon.icon-security
    
block subMeetingControl2
  .meeting-control-item.ps-rv
    .control-show-pop(data-control="manager")
      span.icomoon.icon-security

//- block waitingRoomInfo
//-   #waiting-room(style="display: none")
//-     #waiting-room-info.p-2.flex-fill.d-flex.flex-column
//-       .mb-2.text-secondary
//-         span.icomoon.icon-user-plus
//-         div.d-inline-block
//-           span &nbsp; Phòng chờ
//-           span#amount-waiting.ml-1
//-       #waiting-room-users.flex-fill

block subControlArea
  #manager-area.control-area(data-control="manager")
    .control-area-main.d-flex.flex-column
      .control-area-top.p-1.d-flex.justify-content-between
        button.arrow-smaller.btn.btn-default(data-area="manager")
          span.icomoon.icon-arrow-right
        .align-self-center.control-title Tùy chỉnh
        div
      .control-area-middle.flex-fill
        .pl-3
          .management-title Phòng
          .custom-control.custom-radio.my-1.ml-3
            input#management-open-room.custom-control-input(type="radio", name="management", value="open-room")
            label.custom-control-label(for="management-open-room") Mở phòng
          .custom-control.custom-radio.my-1.ml-3
            input#management-lock-room.custom-control-input(type="radio", name="management", value="lock-room")
            label.custom-control-label(for="management-lock-room") Khóa phòng
          .custom-control.custom-radio.my-1.ml-3
            input#management-waiting-room.custom-control-input(type="radio", name="management", value="waiting-room")
            label.custom-control-label(for="management-waiting-room") Đặt trạng thái phòng chờ
          .management-title Chat
          .custom-control.custom-checkbox.my-1.ml-3
            input#management-turnoff-chat.custom-control-input(type="checkbox", name="management", value="turnoff-chat")
            label.custom-control-label(for="management-turnoff-chat") Tắt chat
          .custom-control.custom-checkbox.my-1.ml-3
            input#management-turnoff-mic.custom-control-input(type="checkbox", name="management", value="turnoff-mic")
            label.custom-control-label(for="management-turnoff-mic") Cấm bật microphone
          .custom-control.custom-checkbox.my-1.ml-3
            input#management-turnoff-video.custom-control-input(type="checkbox", name="management", value="turnoff-video")
            label.custom-control-label(for="management-turnoff-video") Cấm bật video
          .custom-control.custom-checkbox.my-1.ml-3
            input#management-turnoff-share.custom-control-input(type="checkbox", name="management", value="turnoff-share")
            label.custom-control-label(for="management-turnoff-share") Cấm chia sẻ màn hình
          .custom-control.custom-checkbox.my-1.ml-3
            input#management-turnoff-rec.custom-control-input(type="checkbox", name="management", value="turnoff-rec")
            label.custom-control-label(for="management-turnoff-rec") Cấm quay màn hình

  #users-area.control-area(data-control="user")
    .control-area-main.d-flex.flex-column.ps-rv
      .control-area-top.p-1.d-flex.justify-content-between
        button.arrow-smaller.btn.btn-default(data-area="users")
          span.icomoon.icon-arrow-right
        .align-self-center.control-title Thành viên
        button.users-mana-sub.btn-icon.btn.small-btn
          span.icomoon.icon-dots-three-vertical
          span.sr-only User manager sub
        .user-m-sub-box.sub-mana-box.d-none
          .text-center
            a.sub-mana-item(href=`/export-users/?token=${token}`)
              span.icomoon.icon-save
              span &nbsp;&nbsp;
              span Lưu danh sách
      #waiting-room(style="display: none")
        #waiting-room-info.p-2.flex-fill.d-flex.flex-column
          .mb-2.text-secondary
            span.icomoon.icon-user-plus
            div.d-inline-block
              span &nbsp; Phòng chờ
              span#amount-waiting.ml-1
          #waiting-room-users.flex-fill
      #room-users.control-area-middle.flex-fill
block subArea
  #confirm-leave-room-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='leaveRoom', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-body
          span Bạn có chắc muốn rời phòng?
          .text-right.mt-4
            button#disconnect-all-btn.btn.btn-red(type='button') Rời phòng tất cả
            button#disconnect-btn.btn.ml-3(type='button') Rời phòng
        button.btn.btn-icon.close-popup(type='button', data-dismiss='modal')
          span.icomoon.icon-close
  
  #confirm-join-room-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='joinRoom', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-body
          span Bạn có chắc muốn cho phép người này vào phòng?
          .text-right.mt-4
            button#allow-join-btn.btn(type='button', data-dismiss='modal') OK
            button.btn.btn-icon.close-popup(type="button", data-dismiss="modal")
              span.icomoon.icon-close

  #confirm-no-join-room-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='notJoinRoom', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-body
          span Bạn có chắc muốn xóa người này khỏi danh sách chờ?
          .text-right.mt-4
            button#no-allow-join-btn.btn.btn-red(type='button', data-dismiss='modal') OK
            button.btn.btn-icon.close-popup(type="button", data-dismiss="modal")
              span.icomoon.icon-close

  #confirm-kick-user-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='kickUser', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-body
          span Bạn có chắc muốn kick người này khỏi phòng?
          .text-right.mt-4
            button#confirm-kick-user-btn.btn.btn-red(type='button', data-dismiss='modal') OK
            button.btn.btn-icon.close-popup(type="button", data-dismiss="modal")
              span.icomoon.icon-close

block subFormChat
  label.btn.btn-default.send-file.m-0.p-2(for="send-file")
    span.icomoon.icon-insert_drive_file
  input#send-file.d-none(type="file", name="file", multiple)
  button.btn.btn-default.open-emojis.p-2(type="button") &#128512;
  .flex-fill.wrap-msg-box.ps-rv
    textarea#msg.form-control(type="text", name="message", placeholder="Nhập tin nhắn", autocomplete="off")
  button.btn.btn-default.text-secondary
    span.icomoon.icon-send
  
block chatScript
  script(src="/js/chat-room-host.js")
