extends ./layout

block contentMain
  #meeting-area
    .rec.text-danger.d-none
      .rec-icon.d-inline
      strong REC
    #main-meeting-area.p-1.d-flex
      #main-meeting.p-1.flex-fill
        .wrap-meeting-show.d-flex.ps-rv
          .wrap-my-video.meeting-part
            .ps-as.over-hidden.d-flex.align-items-center.justify-content-center
              img(src="/images/logo-mini.png")
              video(name="video", autoplay, muted, style="display:none")
              .meeting-part-pin-ctrl.justify-content-between.align-items-center.text-primary.px-1
                strong Bạn
                .wrap-pin.text-primary.pin-btn(title="Pin")
                  span.icomoon.icon-arrows-alt
          #meeting-show.flex-wrap.justify-content-center.align-items-center.align-content-center
          .order-first.flex-fill.d-flex
            .wrap-share-screen.flex-fill.ps-rv
              .my-share.d-none
                .d-flex.justify-content-center.align-items-center.ps-as
                  .wrap-my-share.p-4.text-center
                    span.icomoon.icon_screen_share
                    .my-3.my-share-text Bạn đang chia sẻ màn hình cho tất cả mọi người
                    div
                      button.btn.btn-primary.btn-stop-share Dừng chia sẻ
              .them-share.w-100.h-100.d-none
                .d-flex.align-items-center
                  video(autoplay).video-share.w-100.h-auto

            .wrap-meet-pin.flex-fill.ps-rv
      #meeting-control
        .d-flex.justify-content-around.h-100.mx-auto.align-items-center(style="max-width: 1000px")
          #btn-audio-connect.meeting-control-item.ps-rv(data-state="off")
            .popup.special Bật audio (Alt + A)
            .control-no-show-pop
              span.icomoon.icon-mic_off.text-danger
          #btn-video-connect.meeting-control-item.ps-rv(data-state="off")
            .popup Bật camera (Alt + V)
            .control-no-show-pop
              span.icomoon.icon-videocam_off.text-danger
          #btn-share-screen.meeting-control-item.ps-rv(data-state="off")
            .popup Chia sẽ màn hình (Alt + S)
            .control-no-show-pop
              span.icomoon.icon-stop_screen_share.text-danger
          block subMeetingControl
          .meeting-control-item.d-none.d-md-block.ps-rv(data-control="user")
            .popup Thành viên
            .control-show-pop(data-control="user")
              span.icomoon.icon-users
              sup.amount-participants
          .meeting-control-item.d-none.d-md-block.ps-rv
            .popup Chat
            .control-show-pop(data-control="chat")
              span.icomoon.icon-chat
              sup.amount-msg-unread
          .btn-rec-screen.meeting-control-item.d-none.d-md-block.ps-rv.state-off
            .popup Quay màn hình (Alt + R)
            .control-no-show-pop
              span.icomoon.icon-controller-record.text-danger
          .meeting-control-item.d-none.d-md-block.ps-rv
            .popup Thông tin phòng
            .control-show-pop.text-info(data-control="info")
              span.icomoon.icon-information
          .meeting-control-item.ps-rv.d-md-none.wrap-conts
            .open-popup-icon
              span.icomoon.icon-dots-three-vertical
            .wrap-control-meet
              .d-flex.justify-content-center.align-items-center
                block subMeetingControl2
                .meeting-control-item.ps-rv
                  .control-show-pop(data-control="user")
                    sup.amount-participants
                    span.icomoon.icon-users
                .meeting-control-item.ps-rv
                  .control-show-pop(data-control="chat")
                    span.icomoon.icon-chat
                    sup.amount-msg-unread
                .btn-rec-screen.meeting-control-item.ps-rv.state-off
                  .control-no-show-pop
                    span.icomoon.icon-controller-record.text-danger
                .meeting-control-item.ps-rv
                  .control-show-pop.text-info(data-control="info")
                    span.icomoon.icon-information
          .meeting-control-item.ps-rv(data-toggle="modal", data-target="#confirm-leave-room-modal")
            .popup Rời phòng
            .control-no-show-pop.text-danger
              span.icomoon.icon-sign-out
      
      #show-control.show-control.no-show
        #chat-area.control-area(data-control="chat")
          .control-area-main.d-flex.flex-column.ps-rv
            .scroll-bottom
              span.icomoon.icon-circle-down
            .control-area-top.p-1.d-flex.justify-content-between
              button.arrow-smaller.btn.btn-default(data-area="chat")
                span.icomoon.icon-arrow-right
              .align-self-center.control-title Chat
              button#hide-time-btn.btn-icon.btn(data-status="on", title="Ẩn thời gian")
                span.icomoon.icon-timer_off
            #chat-middle.control-area-middle.flex-fill
            .control-area-bottom.p-1.ps-rv.wrap-chat-input
              form.d-flex(name="sendMsgForm")
                block subFormChat
              
        //- #users-area.control-area(data-control="user")
        //-   .control-area-main.d-flex.flex-column
        //-     .control-area-top.p-1.d-flex.justify-content-between
        //-       button.arrow-smaller.btn.btn-default(data-area="users")
        //-         span.icomoon.icon-arrow-right
        //-       .align-self-center.control-title Thành viên
        //-       div
        //-     block waitingRoomInfo
        //-     #room-users.control-area-middle.flex-fill

        #info-area.control-area(data-control="info")
          .control-area-main.d-flex.flex-column
            .control-area-top.p-1.d-flex.justify-content-between
              button.arrow-smaller.btn.btn-default(data-area="info")
                span.icomoon.icon-arrow-right
              .align-self-center.control-title Thông tin phòng
              div
            .control-area-middle.flex-fill
              .pl-3
                div
                  span.text-secondary Id phòng: 
                  strong#room-info-name-room
                .mt-2
                  span.text-secondary Mật khẩu: 
                  strong#room-info-password-room
                .text-center
                  input#link-info(type="text")
                  button#copy-info.btn.btn-link.btn-sm Copy link

        block subControlArea
  
  block subArea
  
append scripts
  script(src="/socket.io/socket.io.js")
  block chatScript
